body{
  background-image: url("../images/grid.jpg");
  font-family: 'Open Sans', sans-serif;
  color: rgb(50, 50, 50);
}

h1{
  font-family: 'Arvo', serif;
  font-size: 50px;
  color: #11468C;
}

h2{
	padding-bottom: 1em;
}

p{
	padding-top: 2em;
	padding-bottom: 2em;
}

a{
  color: #5A86BF;
  text-decoration: none
}

a:hover{
  color: #11468C;
}

#profil {
	border-radius: 50%;
	width: 160px; 
	border: 3px solid white
}

.icon {
	border-radius: 50%;
  	border: 1px solid gray;
  	box-shadow: 0px 0px 1px black;
  	transition: all 0.2s linear;
  	-webkit-transition: all 0.2s linear;
}

.icon:hover{
	transform: rotate(10deg) scale(1.1);
  	-webkit-transform: rotate(10deg) scale(1.1);
}

#container {
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px 50px 30px 50px;
}

#teaser {
	margin-top: 30px;
	margin-bottom: 50px;
	border: 1px solid black;
	text-align: center;
	background-color: white;
	padding: 50px;
}